body {
	margin: 0 auto;
	background: url(../pictures/background.png) no-repeat;
}
#woodsmap {
	width: 829px;
	height: 803px;
}
#maze {
	background-image: url(../pictures/woods_1.png);
}
#mazecanvas {
	padding-left: 12px;
	padding-top: 5px;
}
