@font-face {
	font-family: tarkov;
	src: url(../fonts/Vtks_Escape.ttf);
}

body {
	margin: 0 auto;
}
#main {
	height: 100vh;
	background: url(../pictures/background.png) no-repeat;
}
#EFTtitle {
	width: 503px;
	margin: auto;
}
#woodsmap {
	width: 663px;
	height: 648px;
	margin: auto;
}
#maze {
	background-image: url(../pictures/woods_2.png);
}
#mazecanvas {
	padding-left: 12px;
	padding-top: 5px;
}

.ho {
	position: relative;
	margin: auto auto 0 auto;
	width: fit-content;
}

#canvas {
	display: block;
}
#canvas2 {
	position: absolute;
	top: 0;
}
.swal2-popup,
.swal2-styled:not([disabled]) {
	color: whitesmoke;
	font-family: tarkov;
	background-color: #5a7658;
}
